/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.hightlight {
  font-size: 16px;
  font-weight: bold;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

a {
  font-size: 16px;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.section-title {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
}

.card-subtitle {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Header ***********/

header {
  display: flex;
  justify-content: space-between;
  height: 4.938rem;
  margin-bottom: 30px;
}

.logo-header {
  display: flex;
  align-items: center;
}

.logo-header img {
  width: 3.818rem;
  height: 1.188rem;
  margin-top: 30px;
}

.nav-header ul {
  display: flex;
  gap: 68px;
  margin-top: 0px;
}

.nav-header li {
  border-top: 2px solid transparent;
  padding-top: 8px;
}

.nav-header li:hover {
  color: var(--main-color);
  border-top: 2px solid var(--main-color);
}

/****** Destination ***********/

.find-destination {
  display: flex;
  flex-direction: column;
}

.find-destination-title p {
  margin-top: 5px;
}

.search-bar form {
  display: flex;
  margin: 35px 0 35px 0;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.125rem;
  background-color: var(--main-bg-color);
  border-radius: 15px 0 0 15px;
}

.label i {
  color: #000000;
}

.search-bar input {
  width: 14rem;
  background-color: white;
  border: var(--main-bg-color) 2px solid;
  font-size: 18px;
  font-weight: bold;
  padding: 14px 24px 14px 24px;
  outline: none;
}

.search-bar input::placeholder {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.search-bar .search {
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 0 15px 15px 0;
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.search-bar .search_mobile {
  display: none;
  background-color: var(--main-color);
  color: white;
  border: none;
  border-radius: 15px;
  margin-left: -10px;
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.search_mobile i {
  color: #ffffff;
}

.filters {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  margin-bottom: 35px;
}

.filters-buttons {
  display: flex;
  gap: 15px;
}

.filters button {
  font-size: 17px;
  font-weight: bold;
  background-color: #ffffff;
  border: 2px solid #d9d9d9;
  border-radius: 25px;
  padding: 15px;
  cursor: pointer;
}

.filters button i {
  padding-right: 10px;
}

.filters button:hover {
  background-color: var(--filter-bg-color);
}

.find-destination-infos {
  display: flex;
  align-items: center;
}

.find-destination-infos i {
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--filter-bg-color) 1px solid;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 1px;
  margin-right: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements-cards {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 15px;
  margin-top: 30px;
}

.hebergements-cards .card-content {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
}

.hebergements-cards .card-title {
  white-space: nowrap;
  margin-top: 4px;
  margin-bottom: 8px;
}

.hebergements-cards .card-subtitle {
  margin-bottom: 8px;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}

.hebergements-cards img {
  width: 100%;
  height: 124px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.hebergements-cards .hightlight {
  margin-top: 10px;
  margin-bottom: -5px;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/* Activities */

.activities {
  margin-top: 65px;
  padding: 30px;
}

.activities .section-title {
  margin-bottom: 30px;
}

.activities-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;

}

.activities-cards .card {
  background-color: white;
  border-radius: 20px;
  padding: 0 0 5px 0;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activities-cards img {
  width: 100%;
  height: 380px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activities .section-title {
  padding-left: 40px;
}

.activities-cards .card-txt {
  padding-left: 20px;
  margin-top: auto;
}

/****** Footer ***********/

footer {
  background-color: var(--main-bg-color);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 180px;
  margin-top: 65px;
}

.menus-footer {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.menus-footer ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .filters {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .filters-buttons {
    display: flex;
    flex-direction: row;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .activities-cards .card-content {
    height: 50px;
  }

  .activities-cards img {
    height: 200px;
  }

  .activities-cards .card-txt {
    padding-left: 10px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  header {
    display: flex;
    flex-direction: column;
  }

  .main-container {
    padding: 0;
  }

  .logo-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .nav-header {
    border-bottom: 2px solid var(--main-bg-color);
    padding-bottom: 15px;
  }

  .nav-header li {
    display: block;
    text-align: center;
    border-top: none;
    padding-top: 8px;
    width: 100%;
    position: relative;
  }

  .nav-header li:hover {
    color: var(--main-color);
    border-top: none;
  }

  .nav-header li:hover::after {
    content: "";
    position: absolute;
    bottom: -17px;
    left: -25px;
    right: -25px;
    height: 2px;
    background-color: var(--main-color);
  }

  .find-destination {
    margin-top: 60px;
    padding: 20px;
  }

  .find-destination-infos {
    padding: 20px;
  }

  .search-bar .label {
    margin-right: -5px;
  }

  .search-bar input {
    width: 100%;
    padding-left: 15px;
  }

  .search-bar .search {
    display: none;
  }

  .search-bar .search_mobile {
    display: block;
  }

  .filters-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .filter-bouton {
    width: 100%;
  }

  .filters button {
    font-size: 14px;
    white-space: nowrap;
  }

  .filters {
    margin-top: 15px;
    margin-bottom: 25px;
    align-items: stretch;
  }

  .populaires {
    order: 1;
  }

  .populaires-cards {
    display: flex;
    flex-direction: column;
  }

  .populaires-cards a {
    width: 100%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .hebergements-and-populaires {
    margin-top: -20px;
  }

  .hebergements-and-populaires section {
    padding: 30px 20px 30px 20px;
    border-radius: 0px;
  }

  .hebergements-and-populaires .hebergements {
    background-color: white;
  }

  .hebergements {
    order: 2;
  }

  .hebergements-cards {
    display: flex;
    flex-direction: column;
  }

  .activities {
    padding: 20px;
    margin-top: 20px;
  }

  .activities-cards {
    display: flex;
    flex-direction: column;
  }

  .activities-cards img {
    width: 100%;
    height: 120px;
  }

  .activities-cards .card-content {
    margin-bottom: -10px;
  }

  footer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
    white-space: nowrap;
  }

  .menus-footer h3 {
    margin-bottom: 15px;
  }
}
